<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<header th:replace="layout :: header"></header>
<nav th:replace="layout :: nav"></nav>

<section>
    <div class="container wrapper">
        <div class="project-list single" th:object="${project}">
            <div class="project">
                <h2 th:text="*{name}">Website Project</h2>
                <h3>Starting on: <span th:text="*{#temporals.format(startDate, 'dd-MM-yyyy')}"></span></h3>
                <p th:text="*{description}">Design and build a custom website</p>
                <span class="tag" th:text="*{status.name}" th:classappend="*{status.state}">Active</span>
            </div>
            <div class="roles-collaborators">
                <h3>Roles &amp; Collaborators</h3>
                <div class="list-item" th:each="collaborator : *{collaborators}">
                    <span class="primary" th:text="${collaborator.role.name}">Developer</span>
                    <span class="secondary" th:text="${collaborator.name}">Michael Pemulis</span>
                </div>
            </div>
            <div class="actions">
                <a class="button" th:href="@{|/projects/*{id}/edit|}">Edit Project</a>
                <a class="button" th:href="@{|/projects/*{id}/collaborators|}">Edit Collaborators</a>
            </div>
        </div>
    </div>
</section>

</body>

</html>