<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<header th:replace="layout :: header"></header>
<nav th:replace="layout :: nav"></nav>

<section>
    <div class="container wrapper">
        <form th:action="@{/projects/save}" method="post" th:object="${project}">
            <input type="hidden" th:field="*{id}"/>
            <div>
                <label for="project_name"> Project Name:</label>
                <input type="text" id="project_name" th:field="*{name}"/>
            </div>
            <div>
                <label for="project_description">Project Description:</label>
                <textarea rows="4" id="project_description" th:field="*{description}"></textarea>
            </div>
            <div>
                <label for="project_start">Project start date:</label>
                <input type="date" id="project_start" th:field="*{startDate}"/>
            </div>
            <div>
                <label for="project_status">Project Status:</label>
                <div class="custom-select">
                    <span class="dropdown-arrow"></span>
                    <select id="project_status" th:field="*{status}">
                        <option th:each="status : ${allStatus}" th:value="${status}" th:text="${status.name}"></option>
                    </select>
                </div>
            </div>
            <div>
                <label>Project Roles:</label>
                <ul class="checkbox-list">
                    <li th:each="role : ${allRoles}">
                        <input type="checkbox" th:field="*{roles}" th:value="${role.id}"/>
                        <span th:text="${role.name}"></span>
                    </li>
                </ul>
            </div>
            <div class="actions">
                <button type="submit" value="Save" class="button">Save</button>
                <a th:href="@{/}" class="button button-secondary">Cancel</a>
            </div>
        </form>
    </div>
</section>

</body>

</html>