<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<header th:replace="layout :: header"></header>
<nav th:replace="layout :: nav"></nav>

<section>
    <div class="container wrapper">
        <form>
            <h2>Manage Roles</h2>
            <div>
                <ul class="checkbox-list" th:each="role : ${roles}">
                    <li><span class="primary" th:text="${role.name}">Developer</span></li>
                </ul>
            </div>
            <div class="actions add-new-role">
                <input type="text" placeholder="New Role...">
                <a class="button" href="#">Add</a>
            </div>
        </form>
    </div>
</section>

</body>

</html>